:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: grey;
  text-decoration: inherit;
}
a:hover {
  color: whitesmoke;
}


body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

/* ----------------------------------------------------------------------------- */

/* style.css */
* {
  text-decoration: none;
}

#image {
  height: 50px;
  padding: 50px; /* Adjust later */
}

.header-container {
  width: 90vw;
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
  align-items: center;
  gap: 10px;
}

.nav-link:hover {
  text-decoration: underline;
}

.sign-in-btn {
  padding: 10px 25px;
  margin-left: 10px;
  font-size: 15px;
  background-color: grey;  /* Change collor scheme*/
  color: #242424;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-in-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
  text-decoration: none;
}

/* Main section styling */
main {
  padding: 10px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

/* Search Input Section styling */
.search-input-section {
  border: 1px solid rgb(200, 200, 200);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: -20px;
  margin-bottom: 30px;
  border-radius: 30px;
  padding: 5px 10px;
  height: 37px;
  box-shadow: 0 4px 3px rgba(197, 197, 197, 0.3);
}

.mic-icon {
  height: 30px;
}

.search-input {
  border: none;
  font-size: 20px;
  width: 100%;
}

.search-input:focus {
  outline: none;
}

.search-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-input-container input {
  margin-left: 10px;
}

/* Buttons Section styling */
.buttons-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-btn {
  font-size: 1rem;
  color: black;
  font-weight: 100;
  padding: 10px 20px;
  background-color: grey;
  border: none;
}

.search-btn:hover{
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 0 2px 2px rgba(162, 162, 162, 0.3);
  background-color: whitesmoke;
  border-radius: 5px;
}

.customize_size {
  position: absolute;
  top: 93vh;
  left: 87vw;
  background-color: grey;
  padding: 10px;
  border-radius: 30px;
  color: black;
  font-size: 13px;
}

.customize_size:hover {
  background-color: whitesmoke;
}

i {
  margin-right: 2px;
}

.gsb {
  height: 20px;
}
